/gen
/tasks
/server-*.log
/target
/native/foundry-local/*
!/native/foundry-local/win-x64/
/native/foundry-local/win-x64/*
!/native/foundry-local/win-x64/.gitkeep
.claude
.codex
.vscode
/docs/distribution
tauri.microsoftstore.conf.json

# Logs
*.log
debug.log
